# Python
__pycache__/
*.pyc

# IDE files
.idea/

# Large model/data files
*.pt
*.h5

# Training artifacts (TensorBoard logs, saved models)
**/ppo_push_tensorboard/
**/saved_models/

# Mujoco message
**/MUJOCO_LOG.TXT